[user]
	email = paolo.brasolin@gmail.com
	name = Paolo Brasolin
[credential]
	helper = cache --timeout=3600
[core]
	excludesfile = /home/paolo/.gitignore/Emacs.gitignore
	excludesfile = /home/paolo/.gitignore/Vim.gitignore
